
body { height: 100vh;


}
header{

   max-width: 100%;
   height: 60px; 
   background-color: rgb(65, 80, 80);
   display: flex;
}
header div{
width: 33%;
margin-left: 60px;
margin-right: 60px;
margin-top: 10px;
margin-bottom: 10px;
background-color:#66a3ff ;
text-align: center;
padding-top: 5px;
border: 1px solid #66a3ff;
border-radius: 50px;





}



header div a{

    color:black;
    font-weight: 600;
}
header div a:hover{

    text-decoration: none;
    color: gray;
}
footer{
     max-width: 100%;
    height: 60px;
    background-color:rgb(65, 80, 80);
    
}


section {
background-image: url(../images/movie-tape-background-6.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 700px;
max-width: 100%;
margin: 0 auto;
position: relative;






}

   main.glavni {

    max-width: 100%;
   } 
    


section h3{

    color :#4040bf;
    
    position: absolute;
    top:200px;
    left: 120px;
    right: 50px;

    
    
    
    
     font-size: 55px;
     font-family: 'Source Code Pro', monospace;
     font-weight: 800;
    
}

#filmovi {
display: flex;
flex-wrap: wrap;

    
}
.okvirFilma{

    border: 3px solid black;
    position: relative;
    padding: 10px;
    background-color: #3385ff;
    width: 300px;
    height: 420px;
    margin: 10px auto;
  

    
}
.slika{

    width: 250px;
    height: 260px;

}
#search{
    height: auto;
}
label{

    font-size: 25px;
    color:#3385ff;
    margin-top: 15px;
    font-weight: 700;
    padding-top: 40px;
}

fieldset {

    margin-left: 200px;
    margin-top: 0px;
}

input{
border: 1px solid black;
    width: 350px;
    border-radius: 20px;
    height: 30px;
}
button {

    border: 3px solid black;
    border-radius: 20px;
    margin: 30px;
    background-color: rgb(175, 172, 172);
    width: 100px;
    height: 100px;
    color: #66a3ff;
    font-size: 18px;
    font-weight: 550;
   
    
}
.dugme {
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    max-width: 400px;
 }


    form {
        position: absolute ;
left: 650px;
top: 10px;
font-size: 25px;
padding: 20px;
border: 5px solid black ;
border-radius: 50px;


    }
label p{

    font-size: 30px;
    font-weight: 600;
    
}
button#posalji{
    width: 100px;
    height: 50px;

    background-color:#66a3ff ;
    color: black;
    text-align: center;
}
form{
    margin-top: 50px;
}

form input{

    width: 400px;
    height: 45px;
}
form label {
padding: 0px;
}


img#pocetna{

    position: absolute;
    top: 80px;
    left: 20px;
    border: 5px solid black;
    height: 380px;
}
main.dodaj{
    
    width: auto;

    background-color:black;
    position: relative;
    background-image:url(../images/Dark-Gray-Backgrounds-Desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}
button#levi{

   background-color:rgb(65, 80, 80);
   
}
button#desni{

    background-color:rgb(65, 80, 80);
 }
 input#godina{
     width: 100px;
     text-align: center;
 }
 button#god{
    margin-left:50px;
    width: 80px;
    height:40px;
    background-color: rgb(65, 80, 80);
    text-align: center;
  }

@media only screen and (max-width: 764px){

    
 


header{
    max-width:792px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color:rgb(65, 80, 80);
}
header div {

    width: auto;
    border-radius: 30%;
}


     


footer {

    max-width: 792;
  background-color:    rgb(65, 80, 80)
}


input {

    max-width: 250px;
    margin-left: 10px;
}

div.dugme {
    
    
    width: 300px;

    
}
button.dugme{
    width: 30px;
    height: 30px;
    
}

button#desni{
    width: 90px;
    height:75px;
    border-radius:8px;
    font-size: 12px;
    padding: 10px;
}

button#levi{
    width: 90px;
    height:75px;
    border-radius:8px;
    font-size: 12px;
    padding: 10px;
}

fieldset {
    margin-left: 50px;
}

img#pocetna{

    left: 10px;
    top:10px;
    max-width:320px;
}

form{

    position: absolute;
    top:400px;
    left: 10px;
}

button#posalji{
    
    height: 50px;
    width:60px;
    text-align:  center ; 
}

    form input {

        width: 180px;
        height: 30px;
    }

     

     main.dodaj {
         height: 1000px;
     }
      

     section h3 {
        font-size: 30px; }    
    
     

    

    
    
    


}

    @media only screen and (max-width: 1300px){

img#pocetna{

    left: 10px;
    top:10px;
    max-width:320px;
}

form{

    position: absolute;
    top:400px;
    left: 10px;
}

button#posalji{ height: 50px;
    width:50px;  }

    form input {

        width: 180px;
        height: 30px;
    }

     

     main.dodaj {
         height: 1000px;
     }

     
     }

     



    


    @media only screen and (max-width: 991px){


        div.dugme{
        
            margin-left: 200px;
        }
        
        
        }

        
        
            

   

        
